/** @format */

/*
<!-- from https://www.joshwcomeau.com/css/custom-css-reset/ -->
page reset
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/

* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  font-size: 14px;
}

/* ALL ELEMENT FORMATTING BELOW HERE*/

html {
  /* ABOVE EFFECTS ALL ELEMENTS */
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* ABOVE EFFECTS BODY ELEMENTS */

/* BELOW ARE UTILITY CLASSES */
.abs {
  position: absolute;
}

/* ABOVE GIVES ELEMENTS ABSOLUTE POSITION */

.rel {
  position: relative;
}

/* ABOVE GIVES ELEMENTS RELATIVE POSITION */

.flexr {
  display: flex;
  flex-direction: row;
}
/* ABOVE MAKES A FLEX ROW */

.flexc {
  flex-direction: column;
}
/* ABOVE MAKES A FLEX COLUMN */

.fcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ABOVE MAKES FLEX ELEMENTS CENTERS */
.navigation {
  list-style: none;
}

.nav-item {
  margin: 0 0.5rem;
  border: 1px solid black;
  padding: 0.4rem;
  border-radius: 1rem;
}
/* ABOVE ARE UTILITY CLASSES */
